<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Buscar organizaciones</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
        <li class="breadcrumb-item">Buscar organizaciones</li>
      </ol>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="card">
        <div class="card-header color-bg">
          <h4 class="m-b-0 text-white">Organizaciones</h4>
        </div>
        <div class="card-body">
          <div
            class="row d-flex justify-content-center align-items-center m-b-40"
          >
            <div class="col-6">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Buscar Organizaciones "
                  #searchInput
                  (input)="onSearch(searchInput.value)"
                />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-4" style="z-index: 10">
              <div class="selected-container">
                <div class="custom-select" (click)="toggleDropdown()">
                  <div class="selected-options">
                    Filtros: {{ selectedOptions.length }}
                  </div>
                  <div class="options" *ngIf="dropdownOpen">
                    <div
                      class="option"
                      *ngFor="let option of options"
                      (click)="toggleOption(option)"
                      [ngClass]="{ 'option-selected': option.selected }"
                    >
                      <input type="checkbox" [checked]="option.selected" />
                      {{ option.label }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row d-flex justify-content-center align-items-center m-t-30 col-12"
            >
              <div
                *ngFor="let org of filteredOrganizaciones"
                class="col-10 border m-t-10"
              >
                <div class="card text-left">
                  <div class="card-body d-flex flex-column">
                    <div class="d-block">
                      <h2 class="card-title">{{ org.name }}</h2>
                      <h4 class="card-text">{{ org.typeEntity }}</h4>
                      <p class="card-text">{{ org.description }}</p>
                    </div>
                    <div class="d-flex justify-content-end m-t-20">
                      <a  (click)="verMas(org)"  style="color: white;" class="btn btn-primary">Ver mas!</a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="filteredOrganizaciones.length === 0 && this.loader===true"
                class="card text-left"
              >
                <div class="card-body d-flex flex-column">
                  <div class="d-block">
                    <h2 class="card-title">Organizacion no encontrada</h2>
                  </div>
                </div>
              </div>
              <div *ngIf="this.loader===false" class="card text-left">
                <div class="card-body d-flex flex-column">
                  <div class="d-block">
                    <h2 class="card-title">Cargando organizaciones...</h2>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-actions d-flex justify-content-between m-t-5">
  <button type="button" (click)="volverInicio()" class="btn btn-primary mr-auto"> Volver al inicio</button>
</div>