<div class="body">
  <div class="contenedor">
      <div class="title">

          <h1 class="p-title">Bienvenido a VINCULATE </h1>
        
      </div>
      <div class="botonera-container">
        <div class="botonera">
          <button type="button" routerLink="/login" class="btn btn1 cursor">Iniciar Sesion</button>
          <button type="button" routerLink="/register" class="btn btn2 cursor">Registrarse</button>
          <button type="button" routerLink="/inicio" class="btn btn3 cursor">Entrar como invitado</button>
        </div>
      </div>

      <footer>
          <div class="container-footer">
              <div class="redes">
                  <span  class="insta"><i  class="fa fa-instagram"></i></span>
                  <span class="twitter"><i class="fa fa-twitter"></i></span>
                  <span class="face"><i class="fa fa-facebook-f"></i></span>
              </div>
          </div>
      </footer>
  </div>
</div>