

<div id="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>    

    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>

        </div>
        <app-modal-password></app-modal-password>
        <app-modal-filters-map></app-modal-filters-map>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            © 2023 Vinculate 
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>


</div>





     
        
    
    








    
    <!-- <footer class="footer">
        © 2023 Vinculate
    </footer> -->



