


<form [formGroup]="search"  action="#">
  <div class="row justify-content-center mt-2">
    <!--/span-->
    
    <!--/span-->
    <div class="col-6">
        <div class="form-group">
            <div class="input-group">
                <input formControlName="ubication"  type="text"  #inputPlaces id="inputPlaces" class="form-control form-control-danger" placeholder="Ubicacion">
                <span class="input-group-addon">
                    <i class="fas fa-search-location"></i>
                </span>
                
              </div>
            
            
        </div>
    </div>
  
    <div class="col-2">
      <button (click)="aplicarFiltros()" class="btn btn-primary waves-effect waves-light" >Aplicar Filtro</button>
    </div>
</div>
</form>

<div class="row justify-content-center ">
    <div class="col-md-11 p-t-10">              
        <div class="mapa"  #divMap></div>

  </div>







