<div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Reporte de Eventos</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
          <li class="breadcrumb-item">Reporte de Eventos</li>
        </ol>
      </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-11">
        <div class="card">
          <div class="card-header color-bg">
            <h4 class="m-b-0 text-white"><b>Reportes de Eventos Disponibles</b></h4>
          </div>

          <div class="card-body">
            <div
              class="row d-flex justify-content-center align-items-center m-b-40"
            >
            <!-- Reporte 1 -->
            <div class="border col-12 m-t-10 ">
                
                <div class=" text-left custom-back">
                  <div class="card-body d-flex flex-column">

                        <div class="d-flex justify-content-end">
                            <h2 class="mr-auto"><FONT COLOR="purple"><b>Participacion en todos los Eventos Publicados</b> </FONT></h2>
                            <button type="button" class="btn btn-primary " (click)="navigateVerMas1()"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; Ver Reporte</button>
                        </div>

                    </div>
    
                </div>
            </div>

            <!-- Reporte 2 -->

            <div class="border col-12 m-t-10 ">
                
                <div class=" text-left custom-back">
                  <div class="card-body d-flex flex-column">

                        <div class="d-flex justify-content-end">
                            <h2 class="mr-auto"><FONT COLOR="purple"><b>Participacion en Eventos de este año</b> </FONT></h2>
                            <button type="button" class="btn btn-primary "(click)="navigateVerMas2()"><i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp;Ver Reporte</button>
                        </div>

                    </div>
    
                </div>
            </div>

            <!-- Reporte 3 -->

            <div class="border col-12 m-t-10 ">
                
                <div class=" text-left custom-back">
                  <div class="card-body d-flex flex-column">

                        <div class="d-flex justify-content-end">
                            <h2 class="mr-auto"><FONT COLOR="purple"><b>Calificaciones y reseñas de todos los eventos de este año</b> </FONT></h2>
                            <button type="button" class="btn btn-primary "><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; Ver Reporte</button>
                        </div>

                    </div>
    
                </div>
            </div>

            <!-- Reporte 4 -->

            <div class="border col-12 m-t-10 ">
                
                <div class=" text-left custom-back">
                  <div class="card-body d-flex flex-column">

                        <div class="d-flex justify-content-end">
                            <h2 class="mr-auto"><FONT COLOR="purple"><b>Calificaciones y reseñas de un evento en Particular</b> </FONT></h2>
                            <button type="button" class="btn btn-primary "><i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp;Ver Reporte</button>
                        </div>

                    </div>
    
                </div>
            </div>

        </div>
      </div>
    </div>
    <div class="form-actions d-flex justify-content-between m-t-5">
      <button type="button" (click)="volverInicio()" class="btn btn-primary mr-auto"> Volver al inicio</button>
    </div>
  </div>
  