.color-bg {
  background: #64656649;
}

.circular-image-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%; /* Aplica la forma circular */
  margin-bottom: 10px; /* Ajusta según sea necesario */
}

.circular-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor circular */
}

.subrayado:hover {
  text-decoration: underline;
}

.selected-container {
  width: 100%;
  z-index: 999;
}

.custom-select {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
  cursor: pointer;
  width: 100%;
  user-select: none;
}

.selected-options::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.options {
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 9px;
  border-radius: 0 0 4px 4px;
  width: 100%;
  z-index: 10;
  overflow-y: auto;
  z-index: 999;
  background-color: white;
}

.option {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.option:hover {
  background-color: #007bff4d;
}

.option.selected {
  background-color: #bdd9f862;
  color: #fff;
}

.checked {
  background-color: red;
}

.option-selected {
  background-color: rgba(211, 216, 240, 0.349);
  content: "▼";
}

.card-proximo {
  color: rgba(10, 124, 10, 0.568);

  text-transform: uppercase;
}

/* Estilo para eventos "En curso" */
.card-en-curso {
  color: rgba(138, 138, 9, 0.541);
  text-transform: uppercase;
}

/* Estilo para eventos "Finalizado" */
.card-finalizado {
 color: rgba(128, 9, 9, 0.507);
  text-transform: uppercase;
}