<div class="fondo-modal-imagen" [class.oculto]="modalPasswordService.ocultarModal" >

    <div id="responsive-modal" class="modal fade show " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambio de contraseña</h4>
                    <button type="button" class="close cursor" data-dismiss="modal" (click)="cerrarModal()" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="updateDataPassword" (ngSubmit)="changePassword()" >
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Contraseña actual:</label>
                            <input formControlName="oldPassword" type="password" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Nueva Contraseña</label>
                            <input type="password" formControlName="repitPassword" [ngClass]="{'is-invalid':campoNoValidoPassword('repitPassword')}" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Repita la Contraseña</label>
                            <input type="password" formControlName="newPassword" [ngClass]="{'is-invalid':campoNoValidoPassword('newPassword')}"  class="form-control" >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-inverse waves-effect" (click)="cerrarModal()" data-dismiss="modal">Cancelar</button>
                            <button type="submit"  [disabled]="!updateDataPassword.valid" class="btn btn-success waves-effect waves-light"><i class="fa fa-check"></i>Guardar cambios</button>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>

</div>




